* {
  text-align: center;
  color: white;
}

body {
  background-image: url(../img/bluefrog.jpg);
  background-position: center;
}

button {
  color: black;
}

#charName {
  color: black;
}

#animal {
  color: black;
}